{% extends 'base.html.twig' %}

{% block title %}Appointments index{% endblock %}

{% block body %}
    <h1>Appointments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Time_at</th>
                <th>Client_name</th>
                <th>Client_email</th>
                <th>Client_phone</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.timeAt ? appointment.timeAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.clientName }}</td>
                <td>{{ appointment.clientEmail }}</td>
                <td>{{ appointment.clientPhone }}</td>
                <td>{{ appointment.createdAt ? appointment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ appointment.updatedAt ? appointment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_appointments_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('app_appointments_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_appointments_new') }}">Create new</a>
{% endblock %}
